.header {
  width: 100%;
  height: 56px;
  /* background-color: #0000ff; */

  display: flex;
}

.logo_wrapper {
  /* color: #fff; */
  color: #000;

  transform: skewX(-15deg);
}

.nav-link {
  text-transform: uppercase;
}
